.temperature
  .temperature__container
    .temperature__ring
      include ../Ring/Ring
      include ../Emoji/Emoji
      .temperature__item 
        .temperature__number 28
        .temperature__degree ºC
  .temperature__day
      .temperature__min 22ºC
      .temperature__slash /
      .temperature__max 29ºC
  