.temperature
  .temperature__container
    .temperature__ring
      include ../Ring/Ring
      include ../Emoji/Emoji
      .temperature__item 
        .temperature__number 00
        .temperature__degree ºC
    .temperature__day
      .temperature__min 00
      .temperature__slash /
      .temperature__max 00
  