.weather
  .weather__aside
    include ../Temperature/Temperature
    include ../InfoSection/InfoSection
  .weather__main
    include ../Search/Search
    include ../Title/Title
    include ../HourList/HourList
    include ../Idea/Idea