.search
  display: block
  position: relative
  width: 100%
  margin: 0px auto
  text-align: right

  &__input 
    display: inline
    width: calc(100% - 70px)
    height: 30px
    background-color: lighten($blue-black, 5%)
    border: 0
    border-radius: 20px

  &__icon 
    display: inline
    font-size: 28px